---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Footer from '../components/Footer.astro';
import Stats from '../components/Stats.astro';

---

<Layout>
	  <Header />
	<main>
		<Hero />
		<Stats />
		<Servicios />
	</main>
	<Footer />
</Layout>
