---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Footer from '../components/Footer.astro';
import Stats from '../components/Stats.astro';
import Carrousel from '../components/Carrousel.astro';

---

<Layout title='Mantagua Gastronomía' description='Mantagua Gastronomía Corporativa - Expertos en servicios de alimentación para empresas, casinos y banquetería. Calidad, innovación y nutrición a tu alcance.'>
	  <Header />
	<main>
		<Hero />
		<Stats />
		 <Carrousel />
		<Servicios />
	</main>
	<Footer />
</Layout>
