---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServiciosDetallado from '../components/ServiciosDetallado.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Nuestros Servicios - Mantagua' description='Descubre los servicios de Mantagua Gastronomía Corporativa: alimentación para empresas, casinos y banquetería. Calidad e innovación a tu alcance.'>
  <Header />
  <main>
    <ServiciosDetallado />
  </main>
  <Footer />
</Layout>