---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Mision from '../components/Mision.astro';
import Valores from '../components/Valores.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Sobre Nosotros - Mantagua' description='Conoce más sobre Mantagua Gastronomía Corporativa: nuestra misión, visión y valores que nos guían en la entrega de servicios de alimentación de calidad para empresas y banquetería.'>
    <Header />
    <main>
        <About />
        <Mision />
        <Valores />
    </main>
    <Footer />
</Layout>
