---
import Whatsap from "../components/Whatsap.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href="/LogoIco.ico" type="image/x-icon">
		<title>Mantagua Gastronomía</title>
	</head>
	<body>
		<slot />
		<Whatsap />				
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
